 <div class="widget-container">
    <div id="cmaiymm-fitment-table" data-cmaiymm-fitment-table-product-id="{{product.id}}"></div>
</div>

{% schema %}
{
  "name": "Fitment Table",
  "target": "section",
  "templates": ["product"],
  "settings": [
  ]
}
{% endschema %}