<div class="widget-container">
    <div id="cmaiymm-verify-fitment" data-cmaiymm-verify-fitment-product-id="{{product.id}}"></div>
</div>

{% schema %}
{
  "name": "Fitment Verification",
  "target": "section",
  "settings": [
  ],
  "enabled_on": { "templates": ["product"] }
}
{% endschema %}